html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  background-color: #282f3e !important;
}

header {
  align-self: start;
}

a {
  text-decoration: none !important;
}
